<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">  
  </head> 
  <body>
	<a href="/"><button>Home</button></a>
    <h1>Delete Window</h1>
	<div>
		<div>
		  <form method="post" action="/delete/">
			  {% csrf_token %}
			  <input type="hidden" name="id" value="{{id}}">
			  <input type="hidden" name="username" value="{{username}}">
			  <p>Are you sure you want to delete this post?</p>
			  <input type="submit" value="Delete" class="normal-submit">
		  </form>
		  </div>
		  <div>
		  <form method="get" action="/">
			  <input type="submit" value="Cancel" class="normal-submit">
		  </form>
		 </div>
	 </div>
    </body>
</html>
